:root {
    --primaryColor: #5ec297;
    --secondaryColor: #349b72;
    --logoImageUrl: url('https://res.cloudinary.com/websolute-com/websolute/img/logo_websolute.png');
    --bgAside: var(--primaryColor);
}
